@mixin d_flex_sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin d_grid_2 {
  display: grid;
  grid-template-columns: auto auto;
}
@mixin d_flex_fdc {
  display: flex;
  flex-direction: column;
}
@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}
